<h2 class="alert alert-primary text-center mt-3">Cocktails</h2>
<div class="row row-cols-1 row-cols-md-3" *ngIf="!isFetching; else loading">
  <div class="col mb-4" *ngFor="let cocktail of cocktails" (click)="openModalWindow(cocktail)">
    <div class="card h-100">
      <img [src]="cocktail.image" class="card-img-top" [alt]="cocktail.name" style="max-height: 220px">
      <div class="card-body">
        <h5 class="card-title">{{ cocktail.name }}</h5>
      </div>
      <div class="card-footer bg-light">
        <p>Type: {{ cocktail.type }} cocktail</p>
      </div>
    </div>
  </div>
</div>
<ng-template #loading>
      <span class="spinner-border">
        <span class="sr-only">Loading...</span>
      </span>
</ng-template>
<app-modal
  title="Cocktail info"
  [isOpen]="modalOpen"
  (close)="closeModalWindow()"
  *ngIf="currentCocktail"
>
  <div class="modal-body m-auto">
    <div>
      <img [src]="currentCocktail.image" [alt]="currentCocktail.name">
    </div>
    <h3>{{ currentCocktail.name.toUpperCase() }}</h3>
    <div class="alert alert-primary">
      <p><span class="font-weight-lighter">Type: </span>{{ currentCocktail.type}} cocktail</p>
      <p *ngIf="currentCocktail.description !== ''">
        <span class="font-weight-lighter">Description: </span>
        {{ currentCocktail.description }}
      </p>
      <div>
        <p class="font-weight-lighter">Ingredients:</p>
        <div *ngFor="let ingredient of currentCocktail.ingredients; let i = index">
          <p>{{ i + 1 }}. {{ ingredient.ingredientName }} {{ ingredient.quantity }} {{ ingredient.measurement }}</p>
        </div>
      </div>
      <p><span class="font-weight-lighter">Method: </span>{{ currentCocktail.method }}</p>
    </div>
  </div>
</app-modal>
