<div class="col-7 mt-3">
  <h2>Create new cocktail</h2>
  <form [formGroup]="cocktailForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" id="name" class="form-control" formControlName="name"/>
      <small
        *ngIf="formFieldHasError('name', 'required')"
        class="form-text invalid-form-text"
      >
        Enter the name of cocktail
      </small>
    </div>
    <div class="form-group">
      <label for="image">Image URL:</label>
      <input type="text" id="image" class="form-control" formControlName="image"/>
      <small
        *ngIf="formFieldHasError('image', 'required')"
        class="form-text invalid-form-text"
      >
        Enter the image URL of cocktail
      </small>
      <small
        *ngIf="formFieldHasError('image', 'image')"
        class="form-text invalid-form-text"
      >
        Image URL must contain "http:/" or "https://" at the beginning of the line
      </small>
    </div>
    <div class="form-group">
      <p>Type:</p>
      <div class="form-check form-check-inline">
        <input type="radio" class="form-check-input" id="typeAlcohol" value="alcohol" formControlName="type">
        <label class="form-check-label" for="typeAlcohol">Alcohol cocktail</label>
        <small
          *ngIf="formFieldHasError('type', 'required')"
          class="form-text invalid-form-text"
        >
          Select type of cocktail
        </small>
      </div>
      <div class="form-check form-check-inline">
        <input type="radio" class="form-check-input" id="typeNonAlcohol" value="non-alcohol" formControlName="type">
        <label class="form-check-label" for="typeNonAlcohol">Non-alcohol cocktail</label>
      </div>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="description" formControlName="description"></textarea>
    </div>
    <div class="form-group" formArrayName="ingredients">
      <label for="ingredientName">Ingredients</label>
      <button
        type="button"
        class="btn btn-secondary ml-3 mb-3"
        (click)="addIngredient()"
      >
        Add
      </button>
      <small
        *ngIf="!ingredientBtnIsClicked"
        class="form-text text-success"
      >
        You need to add at least one ingredient
      </small>
      <div class="form-group" *ngFor="let _ of getIngredientsControls(); let i = index">
        <div [formArrayName]="i" class="row">
          <p class="col-3 font-italic">Ingredient {{ i + 1 }}</p>
          <div class="col-3">
            <input
              type="text"
              id="ingredientName"
              class="form-control"
              formControlName="ingredientName"
              placeholder="Name"
            />
            <small
              *ngIf="ingredientsControlHasError('ingredientName', i,'required')"
              class="form-text invalid-form-text"
            >
              Enter the ingredient's name
            </small>
          </div>
          <div class="col-2">
            <input
              type="number"
              min="1"
              id="quantity"
              class="form-control"
              formControlName="quantity"
              placeholder="Quantity"
            />
            <small
              *ngIf="ingredientsControlHasError('quantity', i,'required')"
              class="form-text invalid-form-text"
            >
              Enter the quantity
            </small>
          </div>
          <div class="col-2">
            <select
              id="measurement"
              class="form-control"
              formControlName="measurement"
            >
              <option value="">measurement</option>
              <option value="ml">ml</option>
              <option value="piece">piece</option>
              <option value="gr">gr</option>
            </select>
            <small
              *ngIf="ingredientsControlHasError('measurement', i,'required')"
              class="form-text invalid-form-text"
            >
              Select the measurement
            </small>
          </div>
        </div>
        <div class="col">
          <button
            type="button"
            class="btn btn-danger"
            (click)="removeIngredient(i)"
          >
            X
          </button>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="method">Method</label>
      <textarea id="method" class="form-control" formControlName="method"></textarea>
      <small
        *ngIf="formFieldHasError('method', 'required')"
        class="form-text invalid-form-text"
      >
        Describe the method of cocktail
      </small>
    </div>
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="formIsInvalid() || isUploading"
    >
      <span *ngIf="!isUploading">
         Save
      </span>
      <span *ngIf="isUploading" class="spinner-border spinner-border-sm">
        <span class="sr-only">Loading...</span>
      </span>
    </button>
  </form>
</div>
